body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: 56px; 
}

@media(max-width: 600px) {
  .container {
    padding: 0px 24px 24px;
  }
}